body {padding-top:4.3rem; background-color:white}
.imgmo {-webkit-transition:all .5s ease; -moz-transition:all .5s ease; -o-transition:all .5s ease; -ms-transition:all .5s ease; transition:all .5s ease}
.imgmo:hover {opacity:.5; filter:alpha(opacity=50)}
.imgmo2 {-webkit-transition:all .5s ease; -moz-transition:all .5s ease; -o-transition:all .5s ease; -ms-transition:all .5s ease; transition:all .5s ease}
.imgmo2:hover {filter:contrast(200%)}
.btn:focus,.btn:active {outline:none !important; box-shadow:none}
.btn {margin-top:2px !important; margin-bottom:2px !important;}
.btn-outline-white {color: black; background-color: white; border-color: white; transition-duration: 0ms}
.btn-outline-white:hover { background-color: #eeeeee; transition-duration: 0ms }
.disabled { opacity:0.3 !important;}
.btn-lgray {color: black; background-color: #dddddd; border-color: #dddddd;}
.btn-lblue {color: black; background-color: #bbdefb; border-color: #bbdefb; transition-duration: 0ms;}
.tooltip{pointer-events:none}
